Test Suite - RFC 6052 section 2.2 - IPv4 Embedding Prefixes

Test all valid encodings per RFC6052 section 2.2

Test uncovered #10 

Results:
```
========================================
Test Section Variable Prefix Length (RFC 6052 2.2)
PASS: /32 v6->v4
FAIL: /32 v6->v4 w/ nonzero suffix - Contains IPv4
FAIL: /32 v6->v4 w/ nonzero u - Contains IPv4
FAIL: /32 v6->v4 w/ nonzero suffix and u - Contains IPv4
PASS: /32 v4->v6
PASS: /40 v6->v4
FAIL: /40 v6->v4 w/ nonzero suffix - Contains IPv4
FAIL: /40 v6->v4 w/ nonzero u - Contains IPv4
FAIL: /40 v6->v4 w/ nonzero suffix and u - Contains IPv4
PASS: /40 v4->v6
PASS: /48 v6->v4
FAIL: /48 v6->v4 w/ nonzero suffix - Contains IPv4
FAIL: /48 v6->v4 w/ nonzero u - Contains IPv4
FAIL: /48 v6->v4 w/ nonzero suffix and u - Contains IPv4
PASS: /48 v4->v6
PASS: /56 v6->v4
FAIL: /56 v6->v4 w/ nonzero suffix - Contains IPv4
FAIL: /56 v6->v4 w/ nonzero u - Contains IPv4
FAIL: /56 v6->v4 w/ nonzero suffix and u - Contains IPv4
PASS: /56 v4->v6
PASS: /64 v6->v4
FAIL: /64 v6->v4 w/ nonzero suffix - Contains IPv4
FAIL: /64 v6->v4 w/ nonzero u - Contains IPv4
FAIL: /64 v6->v4 w/ nonzero suffix and u - Contains IPv4
PASS: /64 v4->v6
PASS: /96 v6->v4
PASS: /96 v4->v6
Section Tests: 27
Passed: 12
Failed: 15
```