Tayga returns Dest Unreachable / No Route to Destination for invalid IPv4 addresses

Several IPv4 ranges are invalid for translation:
* 127.0.0.0/8 (Loopback)
* 169.254.0.0/16 (Link Local)
* 224.0.0.0/4 (Multicast)
* 240.0.0.0/4 (Class E)

Currently Tayga does not consider 0.0.0.0/8 invalid (it will translate it correctly), and for the remaining regions, it kicks back an ICMPv6 Destination Unreachable / No Route to Destination.

This is either the incorrect error or the packets should be dropped
* 0.0.0.0/8 should be dropped entirely as it is a security risk to the translator - this was changed by https://github.com/apalrd/tayga/commit/2274e5859e5b5815bcd5b253fd51fbfb40169743 and should be reverted
* 127.0.0.0/8 and 169.254.0.0/16 should get beyond scope of source address (or be dropped entirely, as they are also a security risk to the translator)
* Multicast must be dropped entirely as there is no defined multicast mapping rule (RFC6052 applies only to unicast)
* Class E could be considered valid and forwarded (as it is in use in the real world), or dropped as invalid, but No Route is incorrect
* Local Broadcast (255.255.255.255) should be dropped always

Related issue - it also returns No Route to Destination for private IPv4 addresses. RFC says we shall drop those.

> Address translators MUST NOT translate packets in
>    which an address is composed of the Well-Known Prefix and a non-
>    global IPv4 address; they MUST drop these packets.

Related issue - comment above only applies to packets which come in as v6, it does drop them w/o any ICMPv4 reply if they come in on IPv4. We should make this behavior consistent, probably, or at least document it.

Chosen behavior to implement:
- For all addresses which are invalid / out of scope (0.0.0.0/8, 127.0.0.0/8, 169.254.0.0/16, and 224.0.0.0/4) packets are dropped silently
- For addresses which are valid but not translatable (RFC1918, etc.) return ICMP
- Class E is considered valid address space

ref. RFC7915:

>       If the translator gets an illegal source address (e.g., 0.0.0.0,
>       127.0.0.1, etc.), the translator SHOULD silently discard the
>       packet (as discussed in [Section 5.3.7 of [RFC1812]](https://datatracker.ietf.org/doc/html/rfc1812#section-5.3.7)).  Note when
>       translating ICMPv4 Error Messages into ICMPv6, the "illegal"
>       source address will be translated for the purpose of trouble
>       shooting.