Consider using RFC8215 WKP out of the box

Hi,

I've recently switched Debian tayga to use a prefix drawn from RFC 8215  (64:ff9b:1::/96) by default. You should consider adopting that choice here too for two reasons:

- Unlike both NSP and the old RFC 6052 WKP (64:ff9b::/96) the new RFC8215 prefix (64:ff9b:1::/48) is marked "not globally reachable" in it's IANA assignment: https://www.iana.org/assignments/iana-ipv6-special-registry/iana-ipv6-special-registry.xhtml#:~:text=64:ff9b:1::/48

  This means we can reasonably assume the prefix is filtered on the network side without filtering traffic directed at it from the global internet by default in Tayga or it's packaging.

- RFC 1918 is usable with the new prefix. Making it a good default. 

See related Debian patch https://salsa.debian.org/debian/tayga/-/blob/debian/master/debian/patches/0014-Use-RFC8215-WKP-by-default.patch

--Daniel


I'm aware of the IETF discussion. My reading was this isn't going to happen and I needed something deployable now. The Public DNS64 isn't a major concern for me since people running their own NAT64 are very likeley to also run their DNS resolver.

--Daniel
 

Thank you for your view.
To be clear, I'm not against updating the default.


> RFC 1918 is usable with the new prefix. Making it a good default.

This reason is going to be obsolete, as the draft was adopted by the WG the other week.
https://datatracker.ietf.org/doc/draft-ietf-v6ops-nat64-wkp-1918/


Thank you for your work on the debian package. ❤️
