Tayga improperly sets Don't Fragment flag

Per RFC 7915:

>    Flags:  The More Fragments flag is set to zero.  The Don't Fragment
>       (DF) flag is set as follows: If the size of the translated IPv4
>       packet is less than or equal to 1260 bytes, it is set to zero;
>       otherwise, it is set to one.

Tayga always sets the DF flag. 

This is due to changes in the SIIT RFCs over the years. The previous version (RFC 6145) said this:

> Flags:  The More Fragments flag is set to zero.  The Don't Fragment
>       (DF) flag is set to one.  In order to avoid black holes caused by
>       ICMPv4 filtering or non-[[RFC2460](https://datatracker.ietf.org/doc/html/rfc2460)]-compatible IPv6 hosts (a
>       workaround is discussed in [Section 6](https://datatracker.ietf.org/doc/html/rfc6145#section-6)), the translator MAY provide
>       a function as follows.  If the packet size is greater than 88
>       bytes and less than or equal to 1280 bytes, it sets the DF flag to
>       zero; otherwise, it sets the DF flag to one.  The translator
>       SHOULD provide a method for operators to enable or disable this
>       function.

Updated: It seems like Tayga will start generating IDs for IPv4 packets if it ever receives a Fragmentation Needed and DF Set ICMP message with an MTU of less than 1280. This is stored in the host cache (ref nat64.c  xlate_4to6_icmp_error). When this cache entry has been set, the DF flag is set/cleared properly by Tayga. 

Need to investigate the behavior of Tayga vs the RFCs as they have been updated

ref. https://datatracker.ietf.org/doc/html/rfc6864 for info on how ID should be used

Implementation chosen:
- Updated to RFC7915 and RFC8021 and RFC7739
- DF is now set when v6-size > 1280 bytes (v6 may still perform PMTUD down to exactly 1280 bytes regardless of v4 PMTU)
- DF is clear <= 1280 bytes to allow v4 fragmentation while maintaining 1280 byte v6 size
- ICMP error translation clamps MTU to 1280 v4->v6 to avoid requesting atomic fragments
- All v4 packets <= 1280 bytes now generate a psuedorandom ID value (global, not per-connection)
- Removed per-cache-entry fragment counter, as this was previously initialized to zero and incremented by one for each step (bad per RFC7739)
- Cache entry also removes the whole stateless part of SIIT, which will impact bpf implementation later